@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IBMPlexSans";
  src: url(".././public/fonts/IBMPlexSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "IBMPlexMonoRegular";
  src: url(".././public/fonts/IBMPlexMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "IBMPlexMonoMedium";
  src: url(".././public/fonts/IBMPlexMono-Medium.ttf") format("truetype");
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}